$accordionHeight: 60vh;
$black: #1e1e1e;
$minWidth: 768px;
$white: #F5F5F5;

.accordion-content {
  overflow: hidden;
  transition: 0.4s ease-out;
  opacity: 0;
}

.accordion-container {
  list-style: none;
  padding-left: 0;
  counter-reset: accordion-counter;

  .accordion-item {
    counter-increment: accordion-counter;
    gap: 1em;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: flex-start;
    transition: 0.2s ease-in-out;

    a {
      margin-top: 12px;
      margin-bottom: 6px;
      color: rgb(248, 94, 29);
      font-size: 14px;
      line-height: 16px;
      text-decoration: underline;
    }

    h3 {}

    // Styles for the closed state
    &:not(.is-open) {
      h2 {
        margin: 0;
        padding: 0;
        font-family: neue-haas-grotesk-text, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
      }
    }

    .accordion-header {
      padding: 1rem;
      cursor: pointer;
      position: relative;
      outline: none;

      h2 {
        position: relative;
        transition: 0.4s ease-out;
        top: 3px;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 24px;
        background-image: url('./icons/add_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 0.2s ease-in-out;
      }
    }

    .accordion-content {
      padding: 0 1rem;
    }

    // Styles for the open state
    &.is-open {
      .accordion-header {
        h2 {
          transform: translateY(20px) translateX(-53px);
        }

        &::after {
          background-image: url('./icons/minus_icon.svg');
          transform: translateY(-50%);
        }
      }

      .accordion-content {
        opacity: 1;
        padding: 1rem;
      }
    }

  }

  &-simple {

    .accordion-item {
      border-bottom: 1px solid #303030;
      
      .accordion-content {
        height: fit-content;
        max-height: 0;

        p {
          margin: 0 0 1rem;
        }
      }

      &.is-open {
        .accordion-content {
          max-height: 30rem;
        }
      }
    }
  }

  &-images {
    .accordion-item {
      &::before {
        content: counter(accordion-counter, decimal-leading-zero);
        font-weight: 400;
        padding-top: 1rem;
        font-family: input-sans;
        flex-shrink: 0;
      }

      .accordion-content {
        max-height: 0;

        p {
          margin: 1rem 0;
        }
      }

      &.is-open {
        flex-grow: 1;

        .accordion-content {
          max-height: 20rem;
          transform: translateX(-50px);
        }
      }

    }

    @media screen and (min-width: $minWidth) {
      height: $accordionHeight;
    }
  }
}

.accordion-wrapper {
  flex-grow: 1;
}

.accordion-image-wrapper {
  overflow: hidden;
  height: $accordionHeight;

  img {
    height: 100%;
    width: calc(100% - 20px);
    opacity: 0;
    transition: 0.4s ease-out;
    object-fit: cover;
    position: absolute;
    top: 0;

    &.is-open {
      opacity: 1;
    }
  }
}
/* Team Modal */
.team-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.team-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.team-modal-dialog {
  background: white;
  width: 90%;
  max-width: 412px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 82px 35px 35px;

  &.slide-in {
    transform: translateX(0);
  }

  .team-modal-content {
    display: block !important;
  }
}

.team-modal-close {
  position: absolute;
  top: 0;
  right: 35px;
  background: none;
  border: none;
  font-family: neue-haas-grotesk-display;
  font-size: 57px;
  line-height: 100%;
  font-weight: 200;
  padding: 10px;
  cursor: pointer;
}

.team-collection-item {
  cursor: pointer;
}

/* Team Checkbox Styles*/
.team-checkbox-form {
  .team-checkbox-field.active {
    padding-left: 24px;
    background-color: $black;
    color: $white;
    
    &::before {
      content: url('./icons/check_icon.svg');
      position: absolute;
      left: 6px;
      top: 8px;
    }
  }
}
