@charset "UTF-8";
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: 0.4s ease-out;
  opacity: 0;
}
.accordion-content > * {
  max-height: 0;
}
.accordion-content p {
  margin: 1rem 0;
}

.accordion-container {
  list-style: none;
  padding-left: 0;
  counter-reset: accordion-counter;
}
.accordion-container .accordion-item {
  counter-increment: accordion-counter;
  gap: 1em;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: flex-start;
  transition: 0.2s ease-in-out;
}
.accordion-container .accordion-item a {
  margin-top: 12px;
  margin-bottom: 6px;
  color: rgb(248, 94, 29);
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
}
.accordion-container .accordion-item:not(.is-open) h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.accordion-container .accordion-item::before {
  content: counter(accordion-counter, decimal-leading-zero);
  font-weight: 400;
  padding-top: 1rem;
  font-family: input-sans;
  flex-shrink: 0;
}
.accordion-container .accordion-item:first-child {
  border-top: 1px solid #d9d9d9;
}
.accordion-container .accordion-item .accordion-header {
  padding: 1rem;
  cursor: pointer;
  position: relative;
  outline: none;
}
.accordion-container .accordion-item .accordion-header h2 {
  position: relative;
  transition: 0.4s ease-out;
  top: 3px;
  left: 0;
}
.accordion-container .accordion-item .accordion-header::after {
  content: "+";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  font-family: neue-haas-grotesk-display;
  font-weight: 200;
}
.accordion-container .accordion-item .accordion-content {
  padding: 0 1rem;
  transform: translateY(20px) translateX(-50px);
}
.accordion-container .accordion-item.is-open {
  flex-grow: 1;
}
.accordion-container .accordion-item.is-open .accordion-header h2 {
  transform: translateY(20px) translateX(-53px);
}
.accordion-container .accordion-item.is-open .accordion-header h2::after {
  content: "-";
}
.accordion-container .accordion-item.is-open .accordion-header::after {
  content: "−";
  transform: translateY(-50%) rotate(180deg);
  font-size: 1.5rem;
}
.accordion-container .accordion-item.is-open .accordion-content {
  max-height: 20rem;
  min-height: 10rem;
  opacity: 1;
  padding: 1rem;
}
.accordion-container .accordion-item.is-open .accordion-content > * {
  max-height: 20rem;
}
.accordion-container-simple {
  list-style: none;
  padding-left: none;
}
.accordion-container-simple .accordion-item {
  border-bottom: 1px solid #303030;
}
@media screen and (min-width: 768px) {
  .accordion-container {
    height: 60vh;
  }
}

.accordion-wrapper {
  flex-grow: 1;
}

.accordion-image-wrapper {
  overflow: hidden;
  height: 60vh;
}
.accordion-image-wrapper img {
  height: 100%;
  width: calc(100% - 20px);
  opacity: 0;
  transition: 0.4s ease-out;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.accordion-image-wrapper img.is-open {
  opacity: 1;
}

/* Team Modal */
.team-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.team-modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.team-modal-dialog {
  background: white;
  width: 90%;
  max-width: 412px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  padding: 82px 35px 35px;
}
.team-modal-dialog.slide-in {
  transform: translateX(0);
}
.team-modal-dialog .team-modal-content {
  display: block !important;
}

.team-modal-close {
  position: absolute;
  top: 0;
  right: 35px;
  background: none;
  border: none;
  font-family: neue-haas-grotesk-display;
  font-size: 57px;
  line-height: 100%;
  font-weight: 200;
  padding: 10px;
  cursor: pointer;
}

.team-collection-item {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
